
container{
    width: 85%;
    max-width: 850px;
    margin: 0 auto;
}

h1{
    line-height: 1.3em;
}
header{
    background-color: #A4A4A4;
    padding: 1rem 0;
position: fixed;
    left: 0;
    top: 0;
    right: 0;
}
header a{
    color: black;
    text-decoration: none;
}
.logo-nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.logo{
    letter-spacing: 15px;
    font-size: 2.0em
}
.menu-icon{
    display: none;
}
.navegation ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.navegation ul li{
    display: inline-block;
}
.navegation ul li a{
    display: block;
    padding: 0.5 rem 1 rem;
    transition: all 0.45 s linear;
    border-radius: 10px;
    font-family: dancing;
    font-size: 20px;
    letter-spacing: 1px;
}
.navegation ul li a:hover{
    background: #ccc
}
.main{
    padding: 3rem;
}
.footer{
    background: #f2f2f2;
    padding: 4rem 0;
    text-align: center;
    margin-top: 4rem;
}

@media only screen and (max-width:767){
    .menu-icon{
        display: block;
        cursor:pointer;
        padding: 0.5rem, 1rem;
    }
    .navegation{
        width: 100%;
        margin-top: 1rem;
    }
    .navegation ul{
        display: none;
    }
    .navegation ul.show{
        display: block;
    }
.navegation ul li{
    display: block;
}
.navegation ul li a{
    display: block;
    padding: 0.5 rem 0;
    transition: all 0.45 s linear;
    border-radius: 5px;
}
.navegation ul li a:hover{
    background: #ccc
}
}
@font-face{
    font-family: dancing;
    src:url(fuentes/DancingScript-VariableFont_wght.ttf);
}